.fileForm .components-panel {
  border: none;
  margin-bottom: 20px;
}

.fileForm .components-panel__header {
  border: none !important;
  padding: 0px !important;
  height: auto !important;
}

.fileForm .components-panel__header h2 {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}

.fileForm {
  @include mq(tablet) {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
  }
}

.assetManager-field.toggleControl .components-base-control__field {
  display: flex;
  margin-bottom: 5px;
}

.fileForm > .fileForm-imageRights {
  grid-column: span 2;
  padding-top: 20px;
  border-top: 1px solid #eaebeb;
}

.fileForm .fileForm-imageRightsGrid {
  @include mq(tablet) {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

.fileForm-imageRightsGrid > div:last-child .components-panel__row {
  @include mq(tablet) {
    height: calc(100% - 15px);
  }
}

.fileForm-imageRightsGrid > div:last-child .components-panel__row .assetManager-field,
.fileForm-imageRightsGrid > div:last-child .components-panel__row .assetManager-field .components-textarea-control__input,
.fileForm-imageRightsGrid > div:last-child .components-panel__row .assetManager-field .components-base-control__field,
.fileForm-imageRightsGrid > div:last-child .components-panel__row .assetManager-field .components-base-control {
  @include mq(tablet) {
    height: 100%;
  }
}

.fileForm-imageRightsGrid > div:last-child .components-panel__row .assetManager-field > .components-base-control__field {
  @include mq(tablet) {
    display: flex;
    flex-direction: column;
  }
}

.fileForm-imageRightsGrid > div:last-child .components-panel__row .assetManager-field > .components-base-control__field > .components-base-control__label {
  flex: initial;
}

.fileForm-imageRightsGrid > div:last-child .components-panel__row .assetManager-field > .components-base-control__field > .assetManager-fieldInput {
  flex: 1 1 auto;
}

.fileForm .components-panel__row {
  margin-top: 6px;
  min-height: 18px;
  justify-content: normal;
}

.fileForm .components-panel__row > div {
  width: 100%;
}

.fileForm .components-toggle-control .components-base-control__help {
  margin-top: 5px;
}

.fileForm .components-base-control__label {
  color: #555d66;
}

.fileForm .components-select-control__input {
  max-width: 100% !important;
}

.fileForm .selectableInput input,
.fileForm .selectableInput input:focus {
  border: none !important;
  box-shadow: none !important;
}

.assetManager-field > .components-base-control__field {
  display: flex;
  flex-wrap: wrap;
  
}

.assetManager-field > .components-base-control__field .components-base-control__label {
  flex: 1 1 auto;
}

.assetManager-field > .components-base-control__field > .assetManager-fieldInput {
  width: 100%;
}

.assetManager-field.assetManager-field--hasErrors .components-text-control__input,
.assetManager-field.assetManager-field--hasErrors .components-textarea-control__input,
.assetManager-field.assetManager-field--hasErrors .components-select-control__input {
  border: 1px solid #cd423b !important;
}

.assetManager-field.assetManager-field--hasErrors .assetManager-fieldErrors {
  text-align: right;
  color: #cd423b;
  font-weight: 500;
  margin: 0px;
}

span.isRequired-field {
  color: #cd423b;
}

.listItem {
  list-style-type: disc;
  margin-left: 19px;
  display: grid;
}

.checkboxLabel {
  font-weight: bold;
  color: #000;
  margin-right: -5px;
}

.tooltip {
  position: relative;
  display: inline-block;
  right: 1%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #757575;
  color: #fff;
  text-align: left;
  border-radius: 15px;
  padding: 5px 0;
  padding-inline: 15px;
  position: absolute;
  z-index: 1;
  width: 198px;
  top: -5px;
  right: 105%;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tooltip {
    right: 2%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .tooltip {
    right: -2%;
  }
}

.panel-row-with-tooltip {
  justify-content: flex-start !important;
}

.panel-row-with-tooltip .components-base-control.assetManager-field {
  width: auto !important;
}

/* Displays the caption panel in the Image Upload Area. */
.block-editor-page {
  .components-panel__row.caption-panel {
    display: block;
  }
}
