.assetManager-deleteIconBtn {
  background-color: #dc3232;
  color: #fff;
}

.assetManager-deleteIconBtn:enter {
  background-color: #c42828 !important;
  color: #fff !important;
  box-shadow: none !important;
}

.assetManager-IconBtn {
  background-color: #00a0d2 !important;
  color: #fff !important;
}

.assetManager-IconBtn:enter {
  background-color: #0c8eb6 !important;
  color: #fff !important;
  box-shadow: none !important;
}
