.wp-block-pullquote::before {
  content: "\A";
  white-space: pre;
  display: block;
}

.wp-block-pullquote {
  padding: 0 .625rem .25rem 0;
  display: block;
  clear: left;
  margin: 0 0 1rem 0;
  max-width: var(--pullquote--max-width);

  blockquote {
    border-left: none !important;
    text-align: left;
  }

  blockquote p:first-child::before {
    content: "“";
    color: var(--pullquote--quotation-color);
    line-height: 0;
    font-size: var(--pullquote--quotation-font-size);
    display: inline-block;
    margin-left: -2rem;
    position: relative;
    vertical-align: text-bottom;
    font-weight: var(--pullquote--quotation-font-weight);
    padding-right: 10px;
  }

  p {
    background-image: none;
    display: inline;
    margin: 0;
    padding-left: .375rem;
    quotes: none;
    color: var(--pullquote--text-color);
    font-size: var(--pullquote--text-font-size);
    letter-spacing: 0;
    line-height: 36px;
  }

  cite::before {
    content: "\2014 \2009";
    position: absolute;
    left: 0;
    top: 0;
  }

  cite {
    display: block;
    margin-top: .5rem;
    text-align: left;
    color: var(--pullquote--cite-color);
    font-size: var(--pullquote--cite-font-size);
    font-style: italic;
    letter-spacing: 0;
    line-height: 24px;
  }

}

.pull-quote-block {
  .wp-block-pullquote {
    padding: 0 0rem .25rem 0;
  }
}
