/* Grey */
$wp-grey-dark-800: #181e22;
$wp-grey-dark-500: rgb(85, 93, 102);
$wp-grey-dark-200: rgb(126, 137, 147);
$wp-grey-dark-100: rgb(143, 152, 161);
$wp-grey-light-800: rgb(181, 188, 194);
$wp-grey-light-200: rgb(243, 244, 245);
$wp-grey-light-100: rgb(251, 251, 252);

/* Blues */
$wp-blue: rgb(0, 115, 170);
$wp-blue-medium: rgb(0, 160, 210);
$wp-blue-tint-40: rgb(120, 198, 228);
$wp-blue-tint-75: rgb(191, 231, 244);

/* Greens */
$wp-green-tint-60: rgb(181, 225, 185);
$wp-green-tint-70: rgb(200, 233, 203);
$wp-green-tint-90: rgb(237, 248, 238);

/* Reds */
$wp-red: rgb(220, 50, 50);
$wp-red-tint-20: rgb(227, 91, 91);

/* Pinks */
$pink: #f9668d;
$pink-light: #ffd7e3;
$pink-lightest: #ffe9e3;

/* Yellows */
$wp-yellow-tint-90: rgb(255, 248, 230);
