@import "./main";

.product-widget.is-half-width {
  float: unset;
  margin-right: auto;

  &.is-float-right {
    float: unset;
    margin-left: auto;
    margin-right: 0;
  }
}

.product-widget-block-inspector {
  .image-reset-btn {
    margin-top: .5rem;
  }

  .half-widget-wrapper {
    margin-top: 2rem;
  }
}
