.newsletter-wrapper {
  p.description {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  ul {
    li {
      font-size: 1.25rem;
      line-height: 1.875rem;
    }
    margin-top: 40px;
    margin-left: 30px;
  }
}
