%eyebrow {
  margin-bottom: 10px;
}

.item-eyebrow-sponsored-by-text {
  color: var(--eyebrow--sponsored--sponsored-by--font-color);
  font-family: var(--eyebrow--sponsered--sponsored-by--font-family);
  font-size: var(--eyebrow--sponsored--sponsored-by--font-size);
  letter-spacing: var(--eyebrow--sponsored--sponsored-by--letter-spacing);
  line-height: var(--eyebrow--sponsored--sponsored-by--line-height);
}
